@media (min-width: 768px) {
  .score-card-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    height: 1000px;
    width: 70vw;
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trophy {
    height: 350px;
    width: 400px;
    margin-top: 35%;
  }
  .your-score-txt {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    font-family: Roboto;
    margin-bottom: 0px;
  }
  .score-display {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    font-family: Roboto;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .play-again-button {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #cf60c8;
    padding: 15px 35px 15px 35px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .reset-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .score-card-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
    height: 100vh;
    width: 80vw;
    background-size: cover;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trophy {
    height: 250px;
    width: 300px;
    margin-top: 35%;
  }
  .your-score-txt {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    font-family: Roboto;
    margin-bottom: 0px;
  }
  .score-display {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    font-family: Roboto;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .play-again-button {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #cf60c8;
    padding: 15px 35px 15px 35px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .reset-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
}